
.auth-main{
    background-color: #738FA7;
    color: white;
    height: 100vh;
}

.auth-box{
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #071330;
    border-radius: 24px;
    
}

.auth-box h2{
    text-align: center;
}

.auth-btn{
    display: inline-flex;
}

.login{
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 24px;
}

.register{
    display: none;
    padding: 20px;
    margin: 20px;
    border-radius: 24px;
}

.l-btn{
    display: none;
    margin-left: 50px;
}

.r-btn{
    display: block;
    margin-left: 50px;
}

.err-text{
    color: red;
}