/* --------------------Home page Styling start here------------------------------- */
html{
  scroll-behavior: smooth;
}

.spinner-border {
  width: 100px; 
  height: 100px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 100%;
}


.gotopbtn{
      position: fixed;
      width: 50px;
      height: 50px;
      background: #3B99E0;
      bottom: 40px;
      right: 50px;
      z-index: 10000000;
    
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      color: white;
      font-size: 22px;
}

.gotopbtn:hover {
animation: headShake;
animation-duration: 2s;
}


@media (min-width: 300px) and (max-width: 575px) {
  .topquote {
    width: 180px;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .topquote {
    width: 311px;
    margin-left: 25px;
  }
}

@media (min-width: 576px) {
  .topquote {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .topquote {
    width: 280px;
  }
}

@media (max-width: 580px) {
  .mobileprofile {
    padding-top: 20px;
  }
}




/* --------------------Home page Styling End here------------------------------- */



.auth-main{
    background-color: #738FA7;
    color: white;
    height: 100vh;
}

.auth-box{
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #071330;
    border-radius: 24px;
    color:white;
}

.auth-box h2{
    text-align: center;
}

.auth-btn{
    display: inline-flex;
}

.login{
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 24px;
}

.login h2{
    color: white;
}

.login label{
    color: white;
}

.register{
    display: none;
    padding: 20px;
    margin: 20px;
    border-radius: 24px;
    color: white;
}

.register h2{
    color: white;
}

.register label{
    color: white;
}

.l-btn{
    display: none;
    margin-left: 50px;
}

.r-btn{
    display: block;
    margin-left: 50px;
}

.err-text{
    color: red;
}

.link-btn{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 1px;
}

 /* Customize the sidebar style */
 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Customize the navigation links */
.nav-link {
    font-weight: 500;
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}

/* Style the content area */
.content {
    margin-left: 250px;
    padding: 20px;
}

.debtn{
    color: white;
    background-color: #071330;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.debtn:hover{
    color: white;
    background-color: #071330;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.w-100{
    width: 100%;
}

.debox{
    padding: 20px 100px;
    margin: 15px;
    background-color: rgba(195,206,218, .5);
    border-radius: 14px;
}

.formdes{
  word-wrap: break-word;
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    border: none;
  }
  
  progress::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 10px;
  }
  
  progress::-webkit-progress-value {
    background-color: #007aff;
    border-radius: 10px;
  }



  .file_gallery{
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    align-content: start;
  }

  .img-thumbnail{
    height: 120px !important; 
    width: 120px !important;
    object-fit: cover;
    /* display: inline-flexbox; */
  } 

  .video-thumbnail{
    width: 180px !important;
    height: auto; 
    /* display: inline-flexbox;
    /* height: 120px !important; 
    width: 120px !important; */
    padding-top: 20px;
  } 

  .preview{
    background-color: #007bff;
  }

  .full-width{
    min-width: 600px !important;
  }
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    /* height: 30px; */
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .alogo{
    width: 100px;
    height: 100px;
  }

 .upbtn{
    display: none;
 }

 .crbtn{
    display: block;
 }


 /* login */

 .auth-one-bg-position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 380px;
}

.auth-one-bg {
 background-position: center;
  background-size: cover;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgb(25 75 255 / 17%) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgb(9 87 255 / 47%) 166%);
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-one-bg .bg-overlay {
  background: linear-gradient(to right, rgb(99 41 255 / 6%), rgb(120 247 40 / 18%));
  opacity: 0.9;
}

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.7;
  background-color: #000;
}

.auth-one-bg .shape {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.auth-one-bg .shape > svg {
  width: 100%;
  height: auto;
  fill: #ecf0fa;
}

.particles-js-canvas-el {
  position: relative;
}

.auth-page-wrapper .auth-page-content {
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.login-bg {
  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: saturate(180%) blur(7px);
  border: 2px solid rgb(255 255 255 / 70%);
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.card-body {
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
}

.form-label {
  font-size: 17px;
  font-family: calibri;
}

body {
  background: #ecf0fa !important;
}

.actionbtns{
  padding:20px 10px;
}

         
         
         
.btn-grad {
  background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}



.stcourseban{
  width: 100px;
}

.stcourseban:hover{
  transform: scale(10.0);
}

/* card */

.stcard{
  padding: 5px;
  margin: 5px;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white !important;
}

.card-qr{
  padding: 5px;
  margin-left: 5px;
  border: 2px solid #071330;
  background-color: white;
}

.c-data{
  color: black !important;
}

.Clist-background{
  background-image: url("../../../img/background.png");
}


@media only screen and (max-width: 560px) {
  .btn-grad {
    font-size: 0.7rem;
  }

  .mobileflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-content: center;
    align-items: center;
    justify-items: center;
  }
}