/* --------------------Home page Styling start here------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Libre+Baskerville&family=Montserrat:wght@200;400;500;600&family=Noto+Sans+Sinhala&family=Noto+Serif+Sinhala:wght@400;600&family=Proza+Libre&family=Raleway:wght@100;300;400;600&family=Trirong&display=swap');
html{
  scroll-behavior: smooth;
}

.sinhala{
  font-family: 'Noto Serif Sinhala', serif;
  font-size: 30px;
}

/* home slider main */
.slide-content {
  position: relative;
}

.slide-content .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.slide-content .slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  width: 100%;
  padding: 0px 40px;
}

.slide-content .slide-text h2 {
  /* font-size: 32px;
  font-weight: bold;
  color: #fff; */
  font-family: Montserrat ;
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  background-clip: text;
  text-transform: uppercase;
  text-decoration: wavy;
  -webkit-background-clip: text;
}

.slide-content .slide-text p {
  font-size: 16px;
  color: #fff;
}

.slide-content img.zoomed {
  transform: scale(1.3);
  transition: transform 4.5s;
}


/* end main slider */

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}

.teacherimg{
  max-height: 250px;
}

.spinner-border {
  width: 100px; 
  height: 100px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 100%;
}


.gotopbtn{
      position: fixed;
      width: 50px;
      height: 50px;
      background: #3B99E0;
      bottom: 40px;
      right: 50px;
      z-index: 10000000;
    
      text-decoration: none;
      text-align: center;
      line-height: 50px;
      color: white;
      font-size: 22px;
}

.gotopbtn:hover {
animation: headShake;
animation-duration: 2s;
}


/* -------------------------Heading Styles--------------------------- */
.headbg{
  background-color: #330055;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: contain;
}
/* === BASE HEADING === */ 

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

/* twelve */
.twelve h1 {
  font-size:26px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:160px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
}
.twelve h1:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
.twelve h1:after {
    background-color: #c50000;
    content: '';
    display: block;
  position:absolute; right:0; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
}

/* === HEADING STYLE #1 === */
.one h1 {
  text-align: center;
  /* text-transform: uppercase; */
  padding-bottom: 5px;
}
.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}
.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}


/* five */

.five h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 700; color:#ffffff;
  text-transform: uppercase;
  word-spacing: 1px; letter-spacing:2px;
}
.five h1 span {
  margin-top: 40px;
  text-transform: none;
  font-size:.75em;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:#ffffff; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;
}
.five h1:before {
  position: absolute;
  left: 0;
  bottom: 38px;
  width: 60px;
  height: 4px;
  content: "";
  left: 50%;
  margin-left: -30px;
  background-color: #dfdfdf;
}

/* === HEADING STYLE #2 === */
.two h1 {
  text-transform: capitalize;
}
.two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.two h1 span {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 10px;
}
.alt-two h1 {
  text-align:center;
}

.alt-two h1:before {
  left:50%; margin-left:-30px;
}


/* Style 7
   ----------------------------- */
   .seven h1 {
    text-align: center;
        font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
        text-transform: uppercase;
    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
    }
    
    .seven h1:after,.seven h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #c50000;
        border-top: 1px solid #c50000;
        height: 5px;
      background-color:#f8f8f8;
    }


/* Style 8
   ----------------------------- */
   .eight h1 {
    text-align:center;
   
    text-transform:uppercase;
    font-size:26px; letter-spacing:1px;
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }
  
  .eight h1:after,.eight h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color:#f8f8f8;
  }



  /* -------------font styling end here----------------- */


.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  }


@media (min-width: 300px) and (max-width: 575px) {

  .topquote {
    width: 240px;
    height: auto;
    margin-bottom: 12px;
  }

  .mobilepicx{
    margin-top: 20px;
  }
  .flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .mobile-flexbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .mobilespecs{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
  }

  .btn-grad-blue{
    padding: 10px 20px;
    max-width: 120px;
  }

  .swiper-slide img {
    height: 70vh;
  }

  .slide-content .slide-text h2 {
    /* font-size: 32px;
    font-weight: bold;
    color: #fff; */
    font-size: 25px;
    font-weight: 600;
  }
  
  .slide-content .slide-text p {
    font-size: 13px;
    color: #fff;
  }

  .seven h1{
    font-size: 17px;
  }

  .eight h1{
    font-size: 17px;
  }
}

@media (min-width: 1400px) {
  .topquote {
    width: 311px;
    /* position: absolute;
    left: 78px; */
  }

  /* .navlogo{
    position: absolute;
    left: 25px;
  } */
}

@media (min-width: 576px) {
  .topquote {
    width: 260px;
  }
}

@media (min-width: 768px) {
  .topquote {
    width: 280px;
  }
}

@media (max-width: 580px) {
  .mobileprofile {
    padding-top: 20px;
  }
}




/* --------------------Home page Styling End here------------------------------- */



.auth-main{
    background-color: #738FA7;
    color: white;
    height: 100vh;
}

.auth-box{
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #071330;
    border-radius: 24px;
    color:white;
}

.auth-box h2{
    text-align: center;
}

.auth-btn{
    display: inline-flex;
}

.login{
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 24px;
}

.login h2{
    color: white;
}

.login label{
    color: white;
}

.register{
    display: none;
    padding: 20px;
    margin: 20px;
    border-radius: 24px;
    color: white;
}

.register h2{
    color: white;
}

.register label{
    color: white;
}

.l-btn{
    display: none;
    margin-left: 50px;
}

.r-btn{
    display: block;
    margin-left: 50px;
}

.err-text{
    color: red;
}

.link-btn{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 1px;
}

 /* Customize the sidebar style */
 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Customize the navigation links */
.nav-link {
    font-weight: 500;
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}

/* Style the content area */
.content {
    margin-left: 250px;
    padding: 20px;
}

.debtn{
    color: white;
    background-color: #071330;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.debtn:hover{
    color: white;
    background-color: #071330;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.w-100{
    width: 100%;
}

.debox{
    padding: 20px 100px;
    margin: 15px;
    background-color: rgba(195,206,218, .5);
    border-radius: 14px;
}

.formdes{
  word-wrap: break-word;
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
    border: none;
  }
  
  progress::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 10px;
  }
  
  progress::-webkit-progress-value {
    background-color: #007aff;
    border-radius: 10px;
  }



  .file_gallery{
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
    align-content: start;
  }

  .img-thumbnail{
    height: 120px !important; 
    width: 120px !important;
    object-fit: cover;
    /* display: inline-flexbox; */
  } 

  .video-thumbnail{
    width: 180px !important;
    height: auto; 
    /* display: inline-flexbox;
    /* height: 120px !important; 
    width: 120px !important; */
    padding-top: 20px;
  } 

  .preview{
    background-color: #007bff;
  }

  .full-width{
    min-width: 600px !important;
  }
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    /* height: 30px; */
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .alogo{
    width: 100px;
    height: 100px;
  }

 .upbtn{
    display: none;
 }

 .crbtn{
    display: block;
 }


 /* login */

 .auth-one-bg-position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 380px;
}

.auth-one-bg {
 background-position: center;
  background-size: cover;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgb(25 75 255 / 17%) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgb(9 87 255 / 47%) 166%);
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-one-bg .bg-overlay {
  background: linear-gradient(to right, rgb(99 41 255 / 6%), rgb(120 247 40 / 18%));
  opacity: 0.9;
}

.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.7;
  background-color: #000;
}

.auth-one-bg .shape {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.auth-one-bg .shape > svg {
  width: 100%;
  height: auto;
  fill: #ecf0fa;
}

.particles-js-canvas-el {
  position: relative;
}

.auth-page-wrapper .auth-page-content {
  padding-bottom: 60px;
  position: relative;
  z-index: 2;
  width: 100%;
}

.login-bg {
  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: saturate(180%) blur(7px);
  border: 2px solid rgb(255 255 255 / 70%);
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.card-body {
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
}

.form-label {
  font-size: 17px;
  font-family: calibri;
}

body {
  background: #ecf0fa !important;
}

.actionbtns{
  padding:20px 10px;
}

         
         
         
.btn-grad {
  background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         



         
.btn-grad-blue {
  background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
  min-width: 170px;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
}

.btn-grad-blue:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


         
.btn-grad-red {
  background-image: linear-gradient(to right, #EC6F66 0%, #F3A183  51%, #EC6F66  100%);
  min-width: 170px;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
}

.btn-grad-red:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}





.stcourseban{
  width: 100px;
}

.stcourseban:hover{
  transform: scale(10.0);
}

/* card */

.stcard{
  padding: 5px;
  margin: 5px;
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white !important;
}

.card-qr{
  padding: 5px;
  margin-left: 5px;
  border: 2px solid #071330;
  background-color: white;
}

.c-data{
  color: black !important;
}

.Clist-background{
  background-image: url("../../../img/background.png");
}


@media only screen and (max-width: 560px) {
  .btn-grad {
    font-size: 0.7rem;
  }

  .mobileflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-content: center;
    align-items: center;
    justify-items: center;
  }
}

/* .fullwidthinput{
  min-width: 100%;
} */